body {
  padding: 16px;
  font-family: 'Wotfard', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  border-bottom: 3px solid hsl(0deg 0% 25%);
}
th[scope="col"] {
  text-align: right;
  border-right: 3px solid hsl(0deg 0% 25%);
  border-bottom: none;
  padding-right: 8px;
}
tr:not(:last-of-type) th[scope="col"],
tr:not(:last-of-type) td {
  border-bottom: 1px solid hsl(0deg 0% 50%);
}

/* Custom fonts */
@font-face {
  font-family: 'Wotfard';
  src: url('https://sandpack-bundler.vercel.app/fonts/wotfard/wotfard-semibold-webfont.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wotfard';
  src: url('https://sandpack-bundler.vercel.app/fonts/wotfard/wotfard-medium-webfont.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wotfard';
  src: url('https://sandpack-bundler.vercel.app/fonts/wotfard/wotfard-regular-webfont.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

:root {
  --font-family: 'Wotfard', sans-serif;
}

h2 {
  margin: 2rem 0;
  text-align: center;
}

.shopping-cart {
  --image-width: 150px;
  margin-bottom: 2rem;
}

.cart-row td {
  padding: 8px 0px;
}
.cart-row td:first-of-type {
  width: var(--image-width);
}

.product-thumb {
  width: var(--image-width);
}

.actions {
  display: flex;
  justify-content: flex-end;
}