.card{
    width:300px;
    height:300px;
    background-color:rgb(202, 192, 192);
    padding:20px;
}

.card1{
    width:100px;
    height:100px;
    background-color:rgb(195, 230, 215);
    padding:20px;
    margin:10px;
}